<div inut>
	<div class="search">
		<input [formControl]="searchBar" type="text" class="searchTerm" placeholder="What are you looking for?">
	</div>
</div>
<div class="data">
  <ng-container *ngIf="gifs | async as gifsAsync; else pleaseType">
    <ng-container *ngIf="gifsAsync.length > 0; else pleaseType">
      <div *ngFor="let gif of gifsAsync" >
        <img [src]="gif">
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #pleaseType>
  <p>Please type something</p>
</ng-template>

<a routerLink="/toll">Wer wir sind</a>
